.qqBox{
	width: 650px;
	height: 400px;
	border: 1px solid #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -325px;
	margin-top: -150px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.BoxHead{
	width: 100%;
	height: 34px;
	background: rgb(22, 154, 218);
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
.windowLogo {
	padding-top: 13px;
}
.windowLogo a {
	display: block;
}
.tx {
	display: block;
	width: 116px;
	height: 116px;
	margin: 0 auto;
	box-shadow: 0 0 1px 1px #ccc;
}
.zxInfo {
	padding-left: 10px;
	height: 25px;
	line-height: 25px;
}
.serviceInfo {
	padding-top: 10px;
}
.layui-tab {
	margin: 0;
	text-align: center!important;
}

.layui-badge-rim, .layui-colla-content, .layui-colla-item, .layui-collapse, .layui-elem-field, .layui-form-pane .layui-form-item[pane], .layui-form-pane .layui-form-label, .layui-input, .layui-layedit, .layui-layedit-tool, .layui-quote-nm, .layui-select, .layui-tab-bar, .layui-tab-card, .layui-tab-title, .layui-tab-title .layui-this:after, .layui-textarea {
	border-color: #e6e6e6;
}

.layui-tab-title li {
	display: inline-block;
	vertical-align: middle;
	transition: all .2s;
	-webkit-transition: all .2s;
	position: relative;
	line-height: 30px;
	width: 50%;
	min-width: 50%;
	padding: 0;
	text-align: center;
	cursor: pointer;
	font-size: 12px;
}

.layui-tab-title {
	position: relative;
	left: 0;
	height: 30px;
	white-space: nowrap;
	font-size: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	transition: all .2s;
	-webkit-transition: all .2s;
}
.layui-tab-title .layui-this {
	color: #000;
}
.layui-tab-title .layui-this:after {
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	width: 100%;
	height: 30px;
	border-width: 1px;
	border-style: solid;
	border-bottom-color: #fafafa;
	border-radius: 2px 2px 0 0;
	box-sizing: border-box;
	pointer-events: none;
}
.layui-tab-content {
	padding: 6px;
}
.layui-tab-item {
	display: none;
}
.layui-show {
	display: block!important;
}
.headImg{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin:7px 10px 0;
	overflow: hidden;
}
.headImg img{
	display: block;
	width: 100%;
	height: 100%;
	border-radius:50%;
}
.internetName{
	width: auto;
	height: 34px;
	line-height: 34px;
	color: white;
}
.context{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-ms-box-orient: horizontal;
	box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: box;
}
.conLeft{
	width: 140px;
	overflow: auto;
	background: #fafafa;
}
.cons {
	position: relative;
	width: 140px;
	overflow: auto;
	background: #fafafa;
}
.advertisement {
	position: absolute;
	width: 100%;
	height: 100px;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.advertisement a,.advertisement img {
	display: block;
}
.advertisement img {
	width: 100%;
}
.layui-tab-content {
	position: absolute;
	left: 0;
	top: 28px;
	right: 0;
	bottom: 0;
	overflow: auto;
}
.advertisement+.layui-tab-content{
	bottom: 100px;
}
.conLeft::-webkit-scrollbar{
	width: 0;
}
.conLeft ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.conLeft li{
	width: 100%;
	height: 62px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
.conLeft li .liLeft{
	width:30%;
	height: 100%;
}
.liLeft img{
	margin: 10px;
}
.liRight span{
	display:block;
	font-size: 14px;
	height: 31px;
	line-height: 31px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.liRight span:last-child{
	font-size: 12px;
	color: #767676;
	line-height:15px;
	overflow: hidden;
}
.conRight{
	box-flex: 1;
	-ms-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	-webkit-box-orient: vertical;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
.Righthead{
	width: 100%;
	height: 42px;
	border-bottom: 1px solid #ccc;
}
.headName{
	width: auto;
	height: 100%;
	line-height: 42px;
	margin-left: 20px;
	font-family: "微软雅黑";
	font-size: 16px;
	float: left;
}
.headConfig{
	width: 20%;
	float: right;
	height: 100%;
	
}
.headConfig ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
.headConfig li{
	margin:10px 5px;
}
.RightCont{
	box-flex: 1;
	-ms-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	overflow-y: scroll;
}
.flex {
	display: flex;
	display:-ms-flex;
	display: -moz-flex;
	display: -webkit-flex;
}
.flex_item {
	flex: 1;
	-ms-flex: 1;
	-moz-flex: 1;
	-webkit-flex: 1;
}
.form-item {
	margin-bottom: 10px;
	clear: both;
}
.form-label {
	float: left;
	display: block;
	padding: 9px 10px;
	width: 80px;
	font-weight: 400;
	line-height: 20px;
	text-align: right;
}
.form-input, .form-textarea {
	outline: 0;
	-webkit-appearance: none;
	transition: all .3s;
	-webkit-transition: all .3s;
	box-sizing: border-box;
	border-color: #e6e6e6;
	height: 38px;
	line-height: 1.3;
	line-height: 38px\9;
	border-width: 1px;
	border-style: solid;
	background-color: #fff;
	border-radius: 2px;
	display: block;
	width: 100%;
	padding-left: 10px;
}
.form-textarea {
	min-height: 70px;
	padding: 5px;
}
.input-block {
	margin-left: 90px;
	min-height: 36px;
}
.conRightItem {
	margin-bottom: 10px;
}
.flex_item_80 {
	flex: 0 0 80px;
	-ms-flex: 0 0 80px;
	-moz-flex: 0 0 80px;
	-webkit-flex: 0 0 80px;
}
.RightCont::-webkit-scrollbar{
	width: 15px;
}
.RightCont ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.RightCont li{
	width: 100%;
	height: 40px;
	/*display: -webkit-box;*/
	/*-webkit-box-orient: horizontal;*/
	margin-top: 10px;
}
.nesHead{
	width: 44px;
	height: 44px;
	border-radius: 50%;
	margin-left:15px ;
	float: right;
}
.nesHead img{
	width: 44px;
	height: 44px;
	border-radius: 50%;
}
.news{
	width: auto;
	height:auto;
	background: #2683f5;
	padding:6px 12px;
	margin: 4px;
	line-height:20px;
	font-size: 12px;
	border-radius:10px;
	margin-right: 8px;
	position: relative;
	float: right;
	color: white;
	max-width: 200px;
}

.news .jiao{
	position: absolute;
	right: -8px;
	top: 10px;
}
 .news .Expr{
	width: 30px;
	height: 30px;
	margin: 5px;
}
.answerHead{
	width: 44px;
	height: 44px;
	border-radius: 50%;
	margin-left:15px ;
	float: left;
}
.answerHead img{
	width: 44px;
	height: 44px;
	border-radius: 50%;
}
.answers{
	width: auto;
	height:auto;
	background: #eee;
	padding:6px 12px;
	margin: 4px;
	line-height:20px;
	font-size: 12px;
	border-radius:10px;
	margin-left: 16px;
	position: relative;
	float: left;
	color: white;
	max-width: 200px;
	color:#333;
}
.answers .jiao{
	position: absolute;
	left: -8px;
	top: 10px;
}
.RightFoot{
	width: 100%;
	height: 135px;
	border-top: 1px solid #ccc;
	position: relative;
}
.emjon{
	width: 360px;
	height: 200px;
	border: 1px solid #ccc;
	position: absolute;
	left:0;
	top:-200px;
	display: none;
	background: #fff;
	overflow: auto;
}
.emjon ul{
	list-style: none;
	margin:0;
	padding: 0;
	
}
.emjon ul li{
	width: 30px;
	height: 30px;
	margin: 5px;
	float: left;
	
}
.emjon ul li:hover{
box-shadow:5px 5px 5px #888888;
transform: scale(1.2);
	
}
.emjon ul li img{
	width: 100%;
	height: 100%;
	
}
.footTop{
	width: 100%;
	height: auto;
}
.footTop ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
.footTop li{
	margin: 5px 10px;
}
.sendBtn{
	width: 68px;
	height: 25px;
	background: #0188fb;
	border: none;
	/*position: absolute;*/
	/*bottom: 10px;*/
	/*right: 10px;*/
	color: white;
}
.bg{
	background: #ebebec;
}
.ChatRecord{
	width: 100%;
	height: 20px;
	text-align: center;
	font-size: 12px;
	color: deepskyblue;
	cursor: pointer;
	display: none;
}


